{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href='{% static "main/css/login.css" %}' type="text/css" rel="stylesheet">
    <link href='{% static "main/css/common.css" %}' type="text/css" rel="stylesheet">
</head>

<body>
<main>
    <div id="parent">
        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" id="form-container">
                <h5 class="indigo-text">Movie Tracker</h5>
                {% if error_message %}
                    <h6 class="error-text red-text">{{ error_message }}</h6>
                {% endif %}
                <form class="col s12"
                      action="{% url 'main:login-user' %}{% if next_url %}?next={{ next_url }}{% endif %}"
                      method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class='row'>
                        <div class='col s12'>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name='username' id='username'/>
                            <label for='enr'>Enter your username</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='password' name='password' id='password'/>
                            <label for='password'>Enter your password</label>
                        </div>
                        <label id="signup-label">
                            <a class='pink-text' href="{% url 'main:signup' %}"><b>SignUp</b></a>
                        </label>
                    </div>

                    <br/>
                    <div style="text-align: center;">
                        <div class='row'>
                            <button class='col s12 btn btn-large waves-effect indigo'>Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>