<html>
<head>
    <title>Home</title>
</head>
<body>
<div>
    <div>Hello {{ request.user }}</div>
    <div>
        <a href="{% url 'main:logout-user' %}">Logout</a>
    </div>
</div>
<h2>Search Movies</h2>
<form>
    <input type="text" name="q" value="{{ q }}">
    <button type="submit">Search</button>
</form>
<div>
    {% if results %}
        <ul>
        {% for movie in results %}
            <li><img src="http://image.tmdb.org/t/p/w185{{ movie.poster_path }}" /><br/><h4>{{ movie.title }}</h4> <b>Rating</b> - {{ movie.vote_average }} <br /><b>Release Date</b> - {{ movie.release_date }} <br /><b>Description</b> - {{ movie.overview }}<br/></li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
</body>
</html>
