#parent {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.center-form {
    width: 25%;
    margin: auto;
}

.input-field input:focus + label {
    color: #3f51b5 !important;
}

.input-field input:focus {
    border-bottom: 1px solid #3f51b5 !important;
    box-shadow: 0 1px 0 0 #3f51b5 !important;
}

.input-field input {
    border-bottom: 1px solid #3f51b5 !important;
    box-shadow: 0 1px 0 0 #3f51b5 !important;
}